PORT=
CORS_ORIGIN=
NODE_ENV=
FRONTEND_DASHBOARD_URL=

# mongo connection
MONGO_URI=
MONGO_DB=

# postgres connection
# servername =
PG_DATABASE_URL=
PG_HOST=
PG_PORT=
PG_USER=
PG_PASSWORD=
PG_DATABASE=
PG_SSL=
PG_SSL_KEY=
PG_SSL_CERT=
PG_SSL_CA=

# redis connection
REDIS_URL=
REDIS_USERNAME=
REDIS_PASSWORD=


# google oauth 2.0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

GOOGLE_OAUTH_URL=
GOOGLE_ACCESS_TOKEN_URL=
GOOGLE_TOKEN_INFO_URL=

# jwt secret
JWT_SECRET=
JWT_EXPIRES_IN=

# cookies
COOKIES_EXPIRES_IN=

# TTL
OAUTH_STATE_TTL_SECONDS=

# websocketserver port
WSS_PORT=
