.delete_icon {
    width: 1em;
    height: 1em;
}

.bin_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25em;
    height: 2.25em;
    border-radius: 0.625em;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 0.125em solid rgb(255, 201, 201);
    transition-duration: 0.3s;
    flex-shrink: 0;
}

.bin_button:hover {
    background-color: rgb(255, 0, 0);
}

.bin_button:active {
    transform: scale(0.9);
}
